.button {
    color: var(--white);
    min-width: 152px;
    max-width: 200px;
    width: 100%;
    min-height: 54px;
    padding: 22px 0;
    border-radius: 5px;
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background var(--transition), transform 0.1s, color var(--transition), border-color var(--transition);      
}

.button:active{
    transform: translateY(5px);
}

.button-green {
    background-color: var(--green);
}

.button-green:hover{
    background-color: var(--green-hover);
}

.button-yellow {
    background-color: var(--yellow);
    color: var(--blue-text);
}

.button-yellow:hover{
    background-color: var(--yellow-hover);
}

.button-blue {
    background-color: var(--blue);
}

.button-blue:hover{
    background-color: var(--blue-hover);
}

.button-transparent {
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.button-transparent:hover{
    /* background-color: var(--blue-hover);
    border-color: var(--blue-hover); */
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
}