.main{
    overflow: hidden;
}

.helloSlider{
    margin-top: 32px;
}

@media (max-width: 1174px) {
    .helloSlider{
        margin-top: 72px;
    }
}

@media (max-width: 745px) {
    .helloSlider{
        margin-top: 125px;
    }
}

.filterAndTabs{
    margin-top: 66.5px;
}

@media (max-width: 1230px) {
    .filterAndTabs{
        margin-top: 42px;
    }
}

@media (max-width: 840px) {
    .filterAndTabs{
        margin-top: 32px;
    }
}

.questionForm{
    margin: 98px 0 111px 0;
}

@media (max-width: 1140px) {
    .questionForm{
        margin: 95px 0;
    }
}

@media (max-width: 890px) {
    .questionForm{
        margin: 50px 0 60px 0;
    }
}

.newsGrid{
    background-color: var(--bg-gray);
    padding: 168px 0 187px 0;
}

@media (max-width: 1024px) {
    .newsGrid{
        padding: 67px 0 120px 0;
    }
}

@media (max-width: 450px) {
    .newsGrid{
        padding: 29px 0 50px 0;
    }
}


.benefitsGrid{
    padding: 97.1px 0 92px 0;
}

@media (max-width: 1024px) {
    .benefitsGrid{
        padding: 70px 0 89px 0;
    }
}

@media (max-width: 450px) {
    .benefitsGrid{
        padding: 50px 0 74px 0;
    }
}
