.toInvestors{
    overflow: hidden;
    position: relative;
}

/* Hello element */

.helloElement {
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100vw;
    color: var(--white);
    margin-top: 98px;
}

@media (max-width: 1240px) {
    .helloElement {
        margin-top: 80px;
    }
}

@media (max-width: 745px) {
    .helloElement {
        margin-top: 64px;
    }
}

.darkPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(91.85deg, #000000 -4.86%, rgba(0, 0, 0, 0) 128.15%);
    opacity: 0.5;
    z-index: -1;
}

.helloBack {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 80%;
    z-index: -2;
}

.dashnav {
    margin-top: 26px;
    font-size: 12px;
    line-height: 15px;
    z-index: 2;
    font-family: Montserrat-Regular;
    user-select: none;
}

.titleWrapper {
    margin-top: 199px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 140px;
}

.helloTitle {
    font-size: 64px;
    line-height: 78px;
    font-family: Montserrat-Bold;
}

.helloDesc {
    font-size: 28px;
    line-height: 38px;
}

@media (max-width: 1200px) {

    .helloElement {
        height: 400px;
    }

    .titleWrapper {
        margin-top: 121px;
        padding-left: 51px;
    }

    .helloTitle {
        font-size: 38px;
        line-height: 46px;
    }

    .helloDesc {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 700px) {

    .helloElement {
        height: 200px;
    }

    .dashnav {
        font-size: 12px;
        line-height: 15px;
    }

    .titleWrapper {
        margin-top: 33px;
        padding-left: 26px;
        max-width: 270px;
    }

    .helloTitle {
        font-size: 20px;
        line-height: 30px;
    }

    .helloDesc {
        font-size: 14px;
        line-height: 22px;
    }
}

/* / Hello element */

/* Content */

.tabLeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    max-width: 1537px;
    width: 100%;
    padding: 0 46px;
}

.tabPanel {
    width: 100%;
}

.innerTabLeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomContainer {
    max-width: 1537px;
    width: 100%;
    padding: 0 46px;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.tab {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text-2);
    font-family: Montserrat-Regular;
    padding-bottom: 17.5px;
    transition: var(--transition);
    border-bottom: 4px solid transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabTitle{
    transition: var(--transition);
    display: block;
}

.tab:hover .tabTitle{
    transform: translateY(-5px);   
}

.tab:hover{
    color: var(--green);
    border-color: var(--green);
}

.tabSelected {
    color: var(--blue-text);
    background-color: transparent;
    font-family: Montserrat-Bold;
    border-bottom-color: var(--blue);
    border-radius: 2px;
    transition: var(--transition);
}

.tabSelected:hover{
    color: var(--blue-hover);
    border-color: var(--blue-hover);
}

.innerTabList {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin: 40px 0 69px 0;
}

.innerTab {
    padding: 11px 21px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-Medium;
    color: var(--gray-text);
    transition: var(--transition);
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.innerTab:not(.innerTabSelected):hover {
    background-color: var(--white);
}

.innerTabSelected {
    background-color: var(--green);
    color: var(--white);
}

.innerTabSelected:hover {
    background-color: var(--green-hover);
}

.content {
    padding-top: 42px;
    background-color: var(--bg-gray);
    overflow: hidden;
}

.tabPanelTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableContainer {
    max-width: 1538px;
    width: 100%;
    padding: 0 46px 42px 46px;
    overflow-x: auto;
}
.tableTitle {
    text-align: left;
    padding: 14px 13px 14px 14px;
    background-color: var(--white);
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-Medium;
    border-radius: 5px;
    min-width: 112px;
    color: var(--black-text-2);
    font-weight: 500;
}

.tableTitleLong {
    min-width: 302px;
}

.tableLineTitle {
    text-align: left;
    padding: 14px 24px 14px 24px;
    background-color: var(--white);
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    color: var(--black-text-2);
    font-weight: unset;
}

.tableValue {
    text-align: left;
    padding: 14px 13px 14px 14px;
    background-color: var(--white);
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    min-width: 112px;
    color: var(--black-text-2);
    font-weight: unset;
}

.tableContainer::-webkit-scrollbar {
    display: block;
    overflow-x: auto;
    height: 6px;
}

.tableContainer::-webkit-scrollbar-track {
    background-color: var(--border);
    border: 2.5px solid transparent;
    background-clip: content-box;
}

.tableContainer::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--green);
    border-radius: 3px;
}

@media (max-width: 1100px) {
    .tab {
        font-size: 16px;
        line-height: 24px;
        border-bottom: 3px solid transparent;
    }

    .tabSelected {
        border-bottom-color: var(--blue);
    }

    .innerTabList{
        margin: 38px 0 30px 0;
    }

    .innerTab {
        font-size: 12px;
        line-height: 24px;
    }

    .tableTitle {
        padding: 16px 14px;
        font-size: 13px;
        line-height: 18px;
        font-family: Montserrat-SemiBold;
    }

    .tableLineTitle {
        padding: 11px 14px;
        font-size: 14px;
        line-height: 18px;
    }

    .tableValue {
        padding: 11px 14px;
        font-size: 14px;
        line-height: 18px;
        min-width: 114px;
    }
}

@media (max-width: 550px) {

    .tabs {
        gap: 8px;
        justify-content: space-around;
    }

    .tab {
        font-size: 13px;
        line-height: 24px;
        padding-bottom: 14px;
        font-family: Montserrat-SemiBold;
    }

    .innerTabList{
        margin: 27px 0 28px 0;
    }

    .innerTab {
        font-size: 12px;
        line-height: 24px;
        padding: 8px 18px;
    }

    .tableTitle {
        font-size: 12px;
        line-height: 18px;
    }

    .tableLineTitle {
        font-size: 14px;
        line-height: 18px;
    }

    .tableValue {
        font-size: 14px;
        line-height: 18px;
    }

    .tableContainer::-webkit-scrollbar {
        display: block;
        overflow-x: auto;
        height: 6px;
    }

    .topContainer {
        padding-left: 20px;
        padding-right: 18px;
    }

    .bottomContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tableContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* / Content */

/* Content documents */

.tabPanelDocument {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documentsContainer {
    margin-top: 38px;
    max-width: 1537px;
    width: 100%;
    padding: 0 46px 63px 46px;
}

.topDocuments {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.filterWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filterWrapper1 {
    max-width: 417px;
    width: 100%;
}

.filterWrapper2 {
    max-width: 189px;
    width: 100%;
}

.filterTitle {
    font-size: 16px;
    line-height: 24px;
}

.documents {
    margin-top: 29px;
    display: flex;
    flex-direction: column;
}

.document {
    display: flex;
    flex-direction: row;
    padding: 21px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    max-width: 772px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    font-size: 14px;
    line-height: 17px;
    font-family: Montserrat-Medium;
    color: var(--black-text-2);
}

.documentContent {
    display: flex;
    flex-direction: row;
    max-width: 381px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.documentLink {
    color: var(--blue);
    text-decoration: underline;
}

.documentIcon {
    position: relative;
    top: 2px;
    padding-right: 10px;
    font-size: 18px;
    color: var(--green);
}

@media (max-width: 1100px) {
    .filterTitle {
        font-size: 14px;
        line-height: 24px;
    }

    .document {
        font-size: 13px;
        line-height: 16px;
    }

    .documentContent {
        max-width: 377px;
    }

    .documentsContainer {
        padding-bottom: 59px;
    }
}

@media (max-width: 700px) {
    .documentsContainer {
        padding: 0 20px 59px 20px;
    }
}

@media (max-width: 530px) {
    .documentsContainer {
        padding-bottom: 26px;
    }
    .topDocuments {
        flex-direction: column;
        gap: 12px;
    }

    .filterWrapper1 {
        max-width: unset;
        width: 100%;
    }

    .filterWrapper2 {
        max-width: unset;
        width: 100%;
    }

    .filterWrapper {
        gap: 10px;
    }

    .document {
        flex-direction: column;
        gap: 14px;
    }

    .document {
        font-size: 14px;
        line-height: 17px;
    }

    .documentIcon{
        font-size: 14px;
    }
}

/* / Content  documents*/