.smallinfo {
    max-width: 295px;
    position: absolute;
    top: 40%;
    left: 54%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 39px 80px 41px 41px;
}

.smallinfotitle {
    font-size: 16px;
    line-height: 24px;
    font-family: Montserrat-SemiBold;
}

.smallinfoprice {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 28px;
}

.smallinfobold {
    font-family: Montserrat-SemiBold;
    font-size: 14px;
    line-height: 24px;
}

.iconclose {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--gray-icons);
    font-size: 14px;
}

@media (max-width:1000px) {
    .smallinfo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 19px 42px 30px 25px;
    }

    .smallinfotitle {
        font-size: 13px;
        line-height: 20px;
    }

    .smallinfoprice {
        font-size: 14px;
        line-height: 20px;
    }

    .smallinfobold {
        font-size: 13px;
        line-height: 24px;
    }
}