.oneNews {
    overflow: hidden;
}

.dashNav {
    margin-top: 98px;
    padding-top: 24px;
    background-color: var(--bg-gray);
}

@media (max-width: 1240px) {
    .dashNav {
        margin-top: 80px;
        padding-top: 22px;
    }
}

@media (max-width: 745px) {
    .dashNav {
        margin-top: 64px;
        padding-top: 27px;
    }
}

.oneNewsFull {
    background-color: var(--bg-gray);
    padding: 94px 0 145px 0;
}

@media (max-width: 1024px) {
    .oneNewsFull {
        padding: 49px 0 55px 0;
    }
}

@media (max-width: 650px) {
    .oneNewsFull {
        padding: 24px 0 42px 0;
    }
}

.mainPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    max-width: 950px;
}

.mainContent {
    padding-top: 9px;
}

.mainSection {
    margin-top: 38px;
}

.mainTitle {
    font-size: 22px;
    line-height: 32px;
    font-family: Montserrat-Bold;
}

.paragraphWrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 22px 0;
}

.mainParagraph {
    font-size: 16px;
    line-height: 28px;
    color: var(--dark-gray-text);
}

.mainParagraph[data-aloneParagraph="true"] {
    padding: 22px 0 2px 0;
}

.mainOl {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-position: inside;
    padding: 2px 0;
}

.mainUl {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2px 0;
}

.mainUl .mainElem {
    list-style-type: disc;
    list-style-position: inside;
}

.mainElem {
    font-size: 16px;
    line-height: 28px;
    font-family: Neris-SemiBold;
}


@media (max-width: 1200px) {
    .mainContent {
        padding-top: 0;
        margin-top: -10px;
    }

    .textContainer {
        max-width: 765px;
    }

    .mainTitle {
        font-size: 18px;
        line-height: 24px;
    }

    .paragraphWrapper {
        gap: 20px;
        padding: 20px 0;
    }

    .paragraphWrapper[data-padding="more"] {
        gap: 22px;
        padding: 22px 0;
    }

    .mainParagraph {
        font-size: 15px;
        line-height: 26px;
    }

    .mainParagraph[data-aloneparagraph="true"] {
        padding: 30px 0 2px 0;
    }

    .mainOl {
        padding: 10px 0;
    }

    .mainUl {
        padding: 10px 0;
    }

    .mainElem {
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width: 680px) {
    .mainContent {
        margin-top: -18px;
    }

    .mainTitle {
        font-size: 16px;
        line-height: 24px;
    }

    .paragraphWrapper {
        gap: 20px;
        padding: 20px 0;
    }

    .h2title {
        font-size: 18px;
        line-height: 24px;
    }


}