.buildingProgress{
    padding: 96px 0 127px 0;
    background-color: var(--bg-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 56px;
}

.buildingProgress__swiperWrapper{
    width: 100%;
    max-width: 1537px;
    padding: 0 46px;
 }
 
 .buildingProgress__swiperWrapper > .swiper3{
    width: 100%;
    overflow: visible;
    padding-bottom: 55px;
}

.buildingProgress__swiperWrapper  > .swiper3 > .swiper-wrapper > .swiper-slide{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    gap: 0px;
    /* max-width: 30vw !important; */
    /* width: 100% !important; */
    /* min-width: min-content !important; */
    /* max-width: 30% !important; */
    /* margin: 0 15% !important; */
}

.buildingProgress__swiperWrapper  > .swiper3 > .swiper-scrollbar {
    /* top: -10px !important; */
    left: 0;
    background-color: transparent;
    height: 10px !important;
    width: 100%;
    /* padding: 0 20%; */
}

.buildingProgress__swiperWrapper  > .swiper3 > .swiper-scrollbar::after {
    content: "";
    height: 2px;
    top: 3px;
    left: 0%;
    position: absolute;
    width: 100%;
    background-color: var(--scroll);
}

.buildingProgress__swiperWrapper  > .swiper3 > .swiper-scrollbar > .swiper-scrollbar-drag {
    background-color: var(--green);
    z-index: 2;
    height: 8px !important;
    cursor: pointer;
    /* width: 100px !important; */
} 

/*  */
/*  */

@media (max-width: 1140px) {
    .buildingProgress__swiperWrapper > .swiper3{
        padding-bottom: 40px;
    }
}

@media (max-width: 680px) {

    .buildingProgress__swiperWrapper > .swiper3{
        padding-bottom: 28px;
    }
}

@media (max-width: 500px) {

    .buildingProgress__swiperWrapper{
        width: 100%;
        max-width: 1537px;
        padding: 0 20px;
     }
     
}