.info {
    max-width: 636px;
    width: 100%;
    min-width: 376px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 51px 49.5px 54px 59px;
}

.topwrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 38px;
    line-height: 46px;
    font-family: Montserrat-Bold;
    color: var(--blue);
}

.projectname {
    margin-top: 9px;
    font-size: 22px;
    line-height: 28px;
}

.iconmark {
    width: 23px;
    height: 23px;
    font-size: 23px;
    color: var(--gray-icons);
    transition: var(--transition);
}

.iconmark:hover{
    color: var(--green);
}

.iconmark[data-favorite="true"]{
    color: var(--green);
}
.iconmark[data-favorite="true"]:hover{
    color: var(--green-hover);
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    align-items: center;
}

.elemtitle {
    font-size: 18px;
    line-height: 28px;
    color: var(--black-text-2);
}

.elemvalue {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    line-height: 24px;
}

.valuegray {
    color: var(--light-gray-text);
    font-size: 16px;
    line-height: 24px;
}

.finishing {
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    font-size: 18px;
    line-height: 28px;
    color: var(--black-text-2);
}

.line {
    margin-top: 29px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.mortgage {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mortgagetitle {
    font-size: 18px;
    line-height: 28px;
    color: var(--black-text-2);
}

.mortgagevarients {
    display: flex;
    flex-direction: row;
    gap: 46px;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text-2);
    font-family: Montserrat-Medium;
}

.mortgagevarient {}

.mortgagegreen {
    color: var(--green);
    font-family: Montserrat-SemiBold;
}

.mortgageunderline {
    /* text-decoration: underline dashed var(--green) 1px;
    text-underline-offset: 4px; */
    padding-bottom: 2px;
    border-bottom: 1px dashed var(--green);
}

.price {
    margin-top: 35px;
    font-size: 22px;
    line-height: 32px;
    font-family: Montserrat-Bold;
}

.buttons {
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 14px;
    row-gap: 34px;
    max-width: 400px;
}

.share{
    margin-left: 10px;
}

.pdf {
    font-size: 14px;
    line-height: 17px;
    font-family: Montserrat-SemiBold;
    text-decoration-line: underline;
    color: var(--black-text-2);
}

.questionFormWrapper{
    z-index: -10;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--transition);
}

.questionFormWrapper[data-is-open="true"]{
    z-index: 20;
    pointer-events: all;
    opacity: 1;
}

.questionForm{
    z-index: 2;
}

.background{
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .info {
        padding: 30px 19.5px 38px 37px;
    }
}

@media (max-width: 1150px) {
    .title {
        font-size: 18px;
        line-height: 28px;
    }

    .projectname {
        margin-top: 2px;
        font-size: 18px;
        line-height: 28px;
    }

    .grid {
        margin-top: 14px;
        row-gap: 10px;
    }

    .elemtitle {
        font-size: 15px;
        line-height: 27px;
    }

    .elemvalue {
        font-size: 14px;
        line-height: 24px;
    }

    .valuegray {}

    .finishing {
        margin-top: 21.25px;
        font-size: 15px;
        line-height: 27px;
        gap: 14px;
    }

    .toggler {
        max-width: 28px;
        width: 100%;
        height: 17.5px;
        border-radius: 15px;
        padding: 0 2.6px;
    }

    .togglerOn .togglerpoint {
        transform: translateY(-50%) translateX(10px);
    }

    .togglerOn {}

    .togglerpoint {
        width: 12.5px;
        height: 12.5px;
    }

    .togglerbold {}

    .disappear {
        display: none;
    }

    .line {
        margin-top: 26px;
    }

    .mortgage {
        margin-top: 18px;
        flex-direction: column;
        gap: 8px;
    }

    .mortgagetitle {
        font-size: 15px;
        line-height: 27px;
    }

    .mortgagevarients {
        flex-direction: column;
        gap: 6px;
        font-size: 14px;
        line-height: 24px;
    }

    .price {
        margin-top: 29px;
        font-size: 18px;
        line-height: 28px;
    }

    .buttons {
        margin-top: 16px;
        column-gap: 10px;
        row-gap: 21px;
        max-width: 340px;
    }

    .buttons>button {
        font-size: 11px !important;
        width: 144px !important;
    }

    .share {
        margin: unset;
        width: 30px;
        height: 30px;
        font-size: 13px;
    }

    .pdf {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 450px) {
    .info {
        padding: 19px 17px 23px 20px;
        min-width: unset;
    }
}

@media (max-width: 650px) {

    .title {
        font-size: 20px;
        line-height: 28px;
    }

    .projectname {
        font-size: 18px;
        line-height: 24px;
    }

    .grid {
        row-gap: 6px;
    }

    .elemtitle {
        font-size: 16px;
        line-height: 27px;
    }

    .elemvalue {
        font-size: 15px;
        line-height: 24px;
    }

    .valuegray {}

    .finishing {
        margin-top: 20px;
        font-size: 16px;
        line-height: 27px;
        gap: 14px;
    }

    .toggler {
        max-width: 34px;
        width: 100%;
        height: 21.25px;
        border-radius: 20px;
        padding: 0 3.19px;
    }

    .togglerOn .togglerpoint {
        transform: translateY(-50%) translateX(13px);
    }

    .togglerOn {}

    .togglerpoint {
        width: 14.87px;
        height: 14.87px;
    }

    .togglerbold {}

    .disappear {
        display: none;
    }

    .line {
        margin-top: 21.5px;
    }

    .mortgage {
        margin-top: 8px;
        flex-direction: column;
        gap: 8px;
    }

    .mortgagetitle {
        font-size: 18px;
        line-height: 27px;
    }

    .mortgagevarients {
        flex-direction: column;
        gap: 8px;
        font-size: 16px;
        line-height: 24px;
    }

    .price {
        margin-top: 16px;
        font-size: 20px;
        line-height: 28px;
    }

    .buttons {
        margin-top: 16px;
        column-gap: 9px;
        row-gap: 24px;
        max-width: 320px;
    }

    .buttons button {
        font-size: 11px;
        max-width: 144px;
        min-width: unset;
        width: 144px;
        padding: 0 ;
    }

    .share {
        margin-right: 9px;
    }

    .pdf {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 375px) {
    .buttons button {
        font-size: 11px;
        max-width: 134px;
        min-width: unset;
        width: 134px !important;
        padding: 0 ;
    }
}
@media (max-width: 355px) {
    .buttons button {
        font-size: 11px;
        max-width: 100% !important;
        min-width: unset;
        width: 100% !important;
        padding: 0 ;
    }

    .buttons {
        row-gap: 10px;
    }
}