.dashnav{
    padding: 24px 0 46px 0;
}
@media (max-width: 1240px) {
    .dashnav{
        padding: 72px 0 49px 0;
    }
}
@media (max-width: 745px) {
    .dashnav{
        padding: 132px 0 24px 0;
    }
} 
.Newsgrid{
    padding-bottom: 100px;
}
@media (max-width: 1240px) {
    .Newsgrid{
        padding-bottom: 72px;
    }
}