.header {
    /* position: fixed; */

    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: var(--white);
    z-index: 20;
    width: 100%;
    height: 98px;
}

.headerGray {
    background-color: var(--bg-gray);
}

.headerLine {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.headerShadow{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
}

.header a {
    transition: var(--transition);
}

.header a:hover {
    color: var(--green);
}

.navMenu {
    position: absolute;
    background-color: var(--white);
    top: 0;
    left: 0;
    margin-top: -514px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--transition);
    z-index: 20;
    max-height: 100vh;
    overflow-y: auto;
}

.navMenuActive {
    margin-top: 0;
}

.navMenuTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navMenuCancel {
    cursor: pointer;
    outline: none;
}

.navMenuContainer {
    padding: 23px 20px 57px 21px;
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.navMenuList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    line-height: 24px;
    padding-left: 40px;
}

.topBar {
    width: 100vw;
    object-fit: fill;
    height: 7px;
}

.container {
    display: grid;
    grid-template-columns: 196px minmax(auto, 1fr) minmax(auto, 180px) min-content 50px;
    align-items: center;
    justify-items: center;

    max-width: 1518px;
    padding: 36px 10px 0 10px;
    width: 100%;
    color: var(--blue-text) !important;
}

.burger {
    display: none;
    cursor: pointer;
}

.logo {
    width: 196px;
    height: 30px;
}

.nav {
    justify-self: start;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navList {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 778px;
    padding-left: 30px;
    padding-right: 10px;
    gap: 10px;
    font-family: Montserrat-Medium;
    font-size: 14px;
    justify-content: space-between;
}

.rightPart {
    justify-self: end;
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width: 176px;
}

.city {
    justify-self: start;
    max-width: 100px;
    width: 100%;
}

.tel {
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;
    width: 136px;
    color: var(--blue);
    align-self: flex-end;
}

.callback {
    position: relative;
    top: 2px;
    right: 2px;
    color: var(--green-text);
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    line-height: 15px;
    align-self: flex-end;
}

.marker {
    font-size: 27px;
    color: var(--gray-icons);
    justify-self: end;
    cursor: pointer;
}

.marker[data-active="true"]{
    color: var(--green);
}

.linkActive {
    color: var(--green-text);
}

@media (max-width: 1496px) {
    .container {
        grid-template-columns: 196px minmax(auto, 1fr) minmax(auto, 150px) min-content 39px;
    }

    .city {
        justify-self: center;
    }
}

@media (max-width: 1240px) {
    .header{
        height: 73px;
    }

    .navMenu {
        position: fixed;
    }

    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--white);
        grid-template-columns: 63px 196px minmax(auto, 1fr) minmax(auto, 166px) min-content 39px;
        padding: 22px 47px 20px 47px;
        z-index: 19;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
    }

    .headerGray .container{
        background-color: var(--bg-gray);
    }

    .burger {
        justify-self: start;
        display: block;
        color: var(--blue);
        transform: rotateY(180deg);
        font-size: 28px;
    }

    .navList {
        display: none;
    }

    .topBar {
        height: 5px;
    }
}

@media (max-width: 745px) {
    .container {
        grid-template-columns: 1fr 1fr min-content;
        grid-template-rows: 1fr 1fr;
        padding: 20px 21px 17px 21px;
        /* row-gap: 26px; */
    }

    .navMenu {
        margin-top: -514px;
    }

    .navMenuActive {
        margin-top: 0;
    }

    .container::after {
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: hsla(0, 0%, 0%, 0.08);
        content: "";
    }

    .burger {
        margin-bottom: 13px;
        transform: rotateY(0deg);
        grid-column-start: 3;
        justify-self: end;
    }

    .logoWrapper {
        margin-bottom: 13px;
        justify-self: start;
        grid-row-start: 1;
        grid-column: 2 span;
    }

    .rightPart {
        margin-top: 13px;
        justify-self: start;
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .city {
        margin-top: 13px;
        justify-self: center;
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .marker {
        margin-top: 13px;
        position: relative;
        left: 2px;
        justify-self: end;
        grid-row-start: 2;
        grid-column-start: 3;
    }
}

@media (max-width: 350px) {
    .navMenuList {
        padding-left: 10px;
    }

    .contacts {
        max-width: 150px;
    }
}