.layoutFull {
    display: flex;
    justify-content: center;
    padding-bottom: 101px;
}

@media (max-width: 1300px) {
    .layoutFull {
        padding-bottom: 54px;
    }
}

@media (max-width: 850px) {
    .layoutFull {
        padding-bottom: 38px;
    }
}

/* TABS */
.tableader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    max-width: 1537px;
    width: 100%;
    padding: 0 46px;
    overflow-x: auto;
}

.tabwrapper {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.tab {
    padding: 11px 21px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-Medium;
    color: var(--gray-text);
    transition: var(--transition);
    cursor: pointer;
    user-select: none;
}

.tab:not(.tabselected):hover {
    background-color: var(--white);
}

.tabselected {
    background-color: var(--green);
    color: var(--white);
}

.tabselected:hover {
    background-color: var(--green-hover);
}

.tabpanel {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1150px) {
    .tab {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 500px) {
    .tabs {
        padding: 0 20px;
    }

    .tabwrapper {
        gap: 5px;
    }

    .tab {
        font-size: 11px;
        line-height: 24px;
        padding: 6px 14px;
    }
}

/* /TABS */

.flat {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.levelstitle {
    margin-top: 22px;
    color: var(--light-gray-text);
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-Medium;
}

@media (max-width: 1012px) {

    .flatgrid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        column-gap: 10px;
        row-gap: 20px;
    }

    .info {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

@media (max-width: 850px) {

    .flatgrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 27px;
    }

    .info {
        grid-column: unset;
        grid-row: unset;
    }
}

@media (max-width: 500px) {
    .levelstitle {
        margin-top: 20px;
        color: var(--black-text-2);
        font-size: 14px;
        line-height: 24px;
        font-family: Neris-Light;
    }
}

/* LEVELS */

.levelsgrid {
    margin-top: 10px;
}


@media (max-width: 850px) {
    .levelsgrid {
        max-width: 390px;
    }
}

/* /LEVELS */

/* COMPASS */
.compass {
    margin-top: 23px;
    align-self: center;
}

@media (max-width: 500px) {
    .compass {
        margin-top: 29px;
        align-self: center;
    }
}

/* /COMPASS */

/* LAYOUT */
.layout {
    width: 100%;
    min-width: 441px;
    /* padding: 19px 60px 0 60px; */
}

.tabsmiddlewrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.tabsmiddle {
    display: flex;
    flex-direction: row;
    gap: 36px;
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-Medium;
}

.tabmiddle {
    color: var(--gray-text);
    transition: var(--transition);
    cursor: pointer;
    user-select: none;
}

.tabmiddle:hover {
    transform: scale(1.05);
}

.tabselectedmiddle {
    color: var(--green);
}

.layoutimgwrapper {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.layoutimg {
    margin: 0 auto;
    max-width: 70%;
    max-height: 600px;
    min-width: 330px;
    object-fit: contain;
    top: 0;
}

.layoutlayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 417px;
}

.levellayout {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* padding: 16px 90px 0 63px ; */
    padding-top: 16px;
    min-height: 417px;
}

.genplanlayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 417px;
}

@media (max-width: 1150px) {
    .levellayout {
        min-height: 330px;
    }
    .layoutlayout {
        min-height: 330px;
        max-height: 350px;
    }
    .genplanlayout {
        min-height: 330px;
    }

    .layoutimg {
        max-height: 400px;
    }
}

@media (max-width: 1012px) {
    .levellayout {
        padding-top: 0;
        width: 100%;
    }

    .genplanlayout {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .layout {
        min-width: 300px;
    }
}

@media (max-width: 850px) {
    .levellayout {
        min-height: 280px;
    }
    .layoutlayout {
        min-height: 280px;
        max-height: 350px;
    }
    .genplanlayout {
        min-height: 280px;
    }
}

@media (max-width: 450px) {
    .levellayout {
        min-height: 258px;
    }
    .layoutlayout {
        min-height: 258px;
        max-height: 300px;
        padding-bottom: 20px;
    }
    .genplanlayout {
        min-height: 258px;
    }
}
@media (max-width: 380px) {
    .layout {
        min-width: 258px;
    }

    .layoutimg {
        min-width: 258px;
    }

    .tabsmiddle {
        gap: 30px;
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 350px) {
    .tabsmiddle {
        gap: 20px;
    }
}

/* / LAYOUT */

/* INFO */
.info {
    margin-top: -48px;
    width: 100%;
}

@media (max-width: 972px) {
    .info {
        margin-top: 10px;
    }
}

@media (max-width: 850px) {
    .info {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

/* /INFO */

/* LADOR */

.flatlarder {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows:  min-content 1fr;
    gap: 20px;
}

.larderlayout {
    grid-row: 1 / 3;
    position: relative;
    max-height: 689px;
    max-width: 1100px;
    padding-top: 25px;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.compasslarder {
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
}

@media (max-width: 1380px) {
    .larderlayout {
        max-height: 750px;
        max-width: 750px;
    }
}

@media (max-width: 1070px) {
    .larderlayout {
        padding-top: 50px;
        max-height: 610px;
        max-width: 610px;
    }
}

@media (max-width: 1012px) {
    .flatlarder {
        grid-template-columns: 1fr;
    }

    .levelsparking {
        max-width: 370px;
    }

    .larderlayout {
        grid-row: unset;
    }
    .compasslarder {
        grid-row: 3 / 4;
    }
}

/* /LADOR */

.additionaltitle {
    margin: 40px 0 56px 0;
}

@media (max-width: 1024px) {
    .additionaltitle {
        margin: 22px 0;
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 500px) {
    .additionaltitle {
        margin: 20px 0;
        font-size: 16px;
        line-height: 30px;
    }
}

.levelslarder {
    max-width: 370px;
}

/* PARKING */

.flatparking {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows:  min-content 1fr;
    gap: 20px;
}

.layoutparking {
    grid-row: 1 / 3;
    position: relative;
    max-height: 769px;
    max-width: 942px;
    padding-top: 25px;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.compassparking {
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
}

.levelsparking{
    height: min-content;
}


@media (max-width: 1300px) {
    .layoutparking {
        max-height: 700px;
        max-width: 700px;
    }
}

@media (max-width: 1050px) {
    .layoutparking {
        max-height: 500px;
        max-width: 500px;
    }
}

@media (max-width: 1012px) {
    .flatparking {
        grid-template-columns: 1fr;
    }

    .levelsparking {
        max-width: 370px;
    }

    .layoutparking {
        grid-row: unset;
    }
    .compassparking {
        grid-row: 3 / 4;
    }
}

/* /PARKING */