.awards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    max-width: 1537px;
    width: 100%;
    padding: 0 46px;
}
.list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 31px;
}
.award{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 27px 30px 27px 29px;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
}

.award:hover{
    transform: scale(1.05);
}

.logo{
    width: 84px;
    height: 102px;
    object-fit: contain;
}
.logoBig{
    width: 100px;
    height: 97px;
}

.title{
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-SemiBold;
}

.text{
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-text);
}

@media (max-width: 1100px) {
    .award{
        max-width: 300px;
    }
    .logo{
        width: 60px;
        height: 74px;
    }
    .logoBig{
        width: 72px;
        height: 74px;
    }
    .title{
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .text{
        margin-top: 6px;
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width: 960px) {
    .container{
        overflow: auto;
        margin-left: 20px;
        padding-bottom: 27px;
    }    

    .container::-webkit-scrollbar {
        display: block;
        overflow-x: auto;
        height: 6px;
    }
    
    .container::-webkit-scrollbar-track {
        background-color: var(--border);
        border: 2.5px solid transparent;
        background-clip: content-box;
    }
    
    .container::-webkit-scrollbar-thumb:horizontal {
        background-color: var(--green);
        border-radius: 3px;
    }

    .list{
        min-width: max-content;
    }

    .logo{
        width: 60px;
        height: 74px;
    }
    .logoBig{
        width: 72px;
        height: 74px;
    }
    .title{
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .text{
        margin-top: 6px;
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width: 600px) {
    .list{
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .award{
        max-width: 279px;
    }
}