.projects{
    background-color: var(--bg-gray);
    overflow: hidden;
}

.dashNav {
    margin-top: 98px;
    padding-top: 24px;
    padding-bottom: 46px;
}

@media (max-width: 1240px) {
    .dashNav {
        margin-top: 80px;
        padding-top: 22px;
    }
}

@media (max-width: 745px) {
    .dashNav {
        margin-top: 139px;
        padding-top: 27px;
    }
}

/* .filterAndTabs{
    margin-top: 66.5px;
}

@media (max-width: 1230px) {
    .filterAndTabs{
        margin-top: 42px;
    }
}

@media (max-width: 840px) {
    .filterAndTabs{
        margin-top: 32px;
    }
} */