.sliderAndNav {}

.sliderAndNav .swiper-pagination {
    left: 13% !important;
}

@media (max-width: 1450px) {
    .sliderAndNav .slider__swiper, .sliderAndNav .slider, .sliderAndNav .swiper-slide, .sliderAndNav .swiper-slide-active {
        max-height: 420px !important;
        min-height: unset;
    }

    .sliderAndNav .swiper-pagination {
        left: 5% !important;
    }
}

@media (max-width: 1150px) {
    .sliderAndNav .slider__swiper, .sliderAndNav .slider, .sliderAndNav .swiper-slide, .sliderAndNav .swiper-slide-active {
        max-height: 300px !important;
        min-height: unset !important;
    }
}

@media (max-width: 860px) {
    .sliderAndNav .slider__swiper, .sliderAndNav .slider, .sliderAndNav .swiper-slide, .sliderAndNav .swiper-slide-active {
        max-height: 250px !important;
        min-height: unset !important;
    }

}


@media (max-width: 500px) {

    .sliderAndNav .slider__swiper, .sliderAndNav .slider, .sliderAndNav .swiper-slide, .sliderAndNav .swiper-slide-active {
        max-height: 200px !important;
        min-height: unset;
    }
}