.infrastructure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
}

.infrastructure .ymaps-2-1-79-balloon{
    animation: displaying var(--transition) linear;
}

.infrastructure__mapBallon{
    min-height: 123px;
    min-width: 316px;
    padding: 30px 30px 40px 41px;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: var(--transition);
    animation: displaying var(--transition) linear;
}

@keyframes displaying {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.infrastructure__mapBallonTitle{
    font-size: 16px;
    line-height: 24px;
    font-family: Montserrat-SemiBold;
}
.infrastructure__mapBallonInfoWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Neris-Light;
}
.infrastructure__mapBallonInfoLeft{
    font-size: 14px;
    line-height: 24px;
}
.infrastructure__mapBallonInfoRight{
    font-size: 14px;
    line-height: 24px;
}

@media (max-width: 1200px) {
    .infrastructure{
        gap: 41px;
    }
}
@media (max-width: 600px) {
    .infrastructure{
        gap: 30px;
    }
}