.genplan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabLeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toppart {
    max-width: 1537px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px;
}

.tabs {

    overflow-x: auto;
}

.tabswrapper {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.tab {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    padding: 11px 21px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    font-size: 14px;
    line-height: 24px;
    font-family: Montserrat-Medium;
    color: var(--gray-text);
    transition: var(--transition);
    cursor: pointer;
    user-select: none;
}

.tab:not(.tabSelected):hover {
    background-color: var(--white);
}

.tabSelected {
    background-color: var(--green);
    color: var(--white);
}

.tabSelected:hover {
    background-color: var(--green-hover);
}

.tabPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
}


@media (max-width: 1180px) {
    .tab {
        font-size: 12px;
        line-height: 24px;
    }
}

@media (max-width: 990px) {
    .toppart {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .tab {
        white-space: nowrap;
    }

}

@media (max-width: 740px) {
    .toppart {
        padding: 0;
    }

    .titlewrapper {
        padding: 0 46px;
    }

    .tabs {
        padding: 0 46px;
        max-width: 1537px;
        width: 100%;
        overflow: auto;
    }

}


@media (max-width: 500px) {
    .titlewrapper{
        padding: 0 20px;
    }

    .tabs {
        padding: 0 20px;
    }

}

@media (max-width: 400px) {
    .tabswrapper{
        gap: 10px;
    }

    .tab {
        font-size: 11px;
        line-height: 24px;
        padding: 6px 14px;
    }

}